body{
    background-color: rgb(24, 24, 24);
}

.receita-card{
    background-color: rgb(53, 53, 53);
    color: aliceblue;
    width: 10%;
    height: 10%;
    padding: 5px;
    align-items: center;
}

.container{
    gap: 20px;
}

.container-receitas{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.titulo{
    color: white;
    align-items: center;
}