{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Main</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/main.css' %}">
</head>
<body>
    <h1>Recipes of all types!</h1>
    
    {% for receita in receitas %}
        <div class="receita-card">
            <h2>{{ receita.strMeal }}</h2>
            <h3>Category: {{ receita.strCategory }}</h3>
            <p>Instructions: {{ receita.strInstructions|truncatechars:200 }}</p>
        </div>
    {% endfor %}

</body>
</html>